:root {
  --main-white: #f0f0f0;
  --main-black: #000;
  --main-red: #be3144;
  --main-blue: #F7EAEA;
  --main-brown: #eee;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  line-height: 1.5em;
}

@mixin flexCenter($flow, $justify) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: center;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: var(--main-black);
}

h1,
h2 {
  font-weight: 500;
}

nav {
  @include flexCenter(column, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
}

.nav-list {
  @include flexCenter(row, space-around);
  margin: 0 1px;
  a {
    color: var(--main-white);
    display: block;
    padding: 5px 15px;
    svg {
      height: 25px;
      width: 25px;
    }
    &:hover {
      background: var(--main-blue);
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-black);
}

img {
  display: block;
  width: 100%;
}

#welcome {
  @include flexCenter(column, center);
  margin-top: 40px;
  background: url("https://images.unsplash.com/photo-1585247226801-bc613c441316?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHdlYiUyMGRldmVsb3BtZW50fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat;
  background-size: cover;
  color: cyan;
  .container {
    text-shadow: 5px 2px 4px #000;
    h1, p {
      padding: 10px 0;
    }
  }
}

#about {
  background: var(--main-blue);
  img {
    width: 200px;
    height: 150px;
    margin: auto;
    border-radius: 100%;
    padding: 15px 0;
  }
  p {
    margin-top: 10px;
  }
}

#project {
  background: var(--main-brown);
  p{
    margin: 10px 0;
  }
  div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    width: 280px;
    max-width: 1280px;
    margin: auto;
    padding-bottom: 20px;
    a {
      background: var(--main-blue);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
    }
  }
}

#offers {
  background: var(--main-blue);
  .offers {
    @include flexCenter(wrap, space-around);
    padding-bottom: 10px;
    div {
      width: 280px;
      height: 280px;
      padding: 10px;
      margin-top: 20px;
      box-shadow: 1px 2px 2px 2px rgba(15, 15, 15, 0.5);
      border-radius: 10px;
      p {
        margin: 10px 0;
      }
      svg {
        width: 40px;
        height: 40px;
      }
      label {
        margin: 30px 0;
      }
    }
  }
}

#tools {
  background-color: var(--main-brown);
  .tools {
    @include flexCenter(wrap, center);
    div {
      box-shadow: 1px 2px 2px rgba(223, 58, 58, 0.5);
      border-radius: 5px;
      width: 100px;
      height: 100px;
      margin: 10px;
      img {
        width: 50px;
        height: 50px;
        margin: 10px auto;
      }
    }
  }
}

#contact {
  .contact {
    background: url("https://media.istockphoto.com/photos/look-at-ads-below-portrait-of-handsome-happy-man-in-stylish-denim-picture-id1270762037?b=1&k=6&m=1270762037&s=170667a&w=0&h=_5dyGL6CBsyBv9z4U97piLsBz2rqpQXrnIPpwAQ0ff4=") no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--main-black);
    padding-bottom: 10px;
    p {
      padding: 10px 0;
    }
    a {
      background: green;
      color: var(--main-white);
      border-radius: 5px;
      padding: 10px 80px;
      &:hover {
        background: var(--main-white);
        color: green;
      }
    }
    padding-bottom: 15px;
  }
  .quick-link {
    img {
      width: 280px;
      height: 150px;
      margin: auto;
      padding: 15px 0;
    }
    .link svg {
      height: 25px;
      width: 25px;
      margin: 10px 20px;
    }
  }
  background: #999;
  blockquote, cite {
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3em;
  }

  nav {
    @include flexCenter(column, flex-end);
  }

  .nav-list {
    margin-right: 20px;
    a {
      padding: 10px 50px;
    }
  }

  #about {
    .container {
      @include flexCenter(row, center);
      img {
        width: 35%;
        height: 300px;
      }
      div {
        width: 55%;
        padding: 0 10px;
      }
    }
  }

  #project {
    div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 40px;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      padding-bottom: 20px;
      .code {
        transition: color 0.5s ease-out;
      }
      a:hover .code {
        color: #ff7f50;
      }
    }
  }

  #offers .offers div {
    width: 370px;
    height: 300px;
  }

  #tools .tools div {
    width: 130px;
    img {
      width: 80px;
    }
  }

  .link svg {
    margin-right: 20px;
    transition: transform 0.5s ease-out;
    &:hover {
      transform: translateY(8px);
    }
  }
}
