:root {
  --main-white: #f0f0f0;
  --main-black: #000;
  --main-red: #be3144;
  --main-blue: #99b3f1;
  --main-brown: #ead18a;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: var(--main-black);
}

h1,
h2 {
  font-weight: 500;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1px;
}

.nav-list a {
  color: var(--main-white);
  display: block;
  padding: 5px 15px;
}

.nav-list a svg {
  height: 25px;
  width: 25px;
}

.nav-list a:hover {
  background: var(--main-blue);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-black);
}

img {
  display: block;
  width: 100%;
}

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  background: var(--main-brown);
}

#welcome img {
  width: 80%;
  height: 200px;
}

#about {
  background: var(--main-blue);
}

#about img {
  width: 80%;
  height: 200px;
  margin: auto;
}

#about p {
  margin-top: 10px;
}

#project {
  background: var(--main-brown);
}

#project div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 40px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#project div a {
  background: var(--main-blue);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#offers {
  background: var(--main-blue);
}

#offers .offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

#offers .offers div {
  width: 280px;
  height: 260px;
  padding: 5px;
  margin-top: 20px;
  -webkit-box-shadow: 1px 2px 2px 2px rgba(223, 49, 49, 0.5);
          box-shadow: 1px 2px 2px 2px rgba(223, 49, 49, 0.5);
  border-radius: 10px;
}

#offers .offers div svg {
  width: 40px;
  height: 40px;
}

#tools {
  background-color: var(--main-brown);
}

#tools .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tools .tools div {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 100px;
  height: 80px;
  margin: 10px;
}

#tools .tools div img {
  width: 100px;
  height: 50px;
}

#contact {
  background: #000;
}

#contact .contact {
  background: #999;
  color: var(--main-black);
  padding-bottom: 10px;
}

#contact .contact img {
  width: 80%;
  height: 200px;
  margin: auto;
}

#contact .contact p {
  margin-bottom: 10px;
}

#contact .contact a {
  background: green;
  color: var(--main-white);
  border-radius: 50px;
  padding: 10px 20px;
}

#contact .contact a:hover {
  background: var(--main-white);
  color: green;
}

#contact .quick-link img {
  color: var(--main-white);
  width: 300px;
  height: 200px;
  margin: auto;
}

#contact .quick-link .link svg {
  height: 25px;
  width: 25px;
  margin: auto 20px;
  color: var(--main-white);
}

#contact blockquote, #contact cite {
  color: var(--main-red);
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3em;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list {
    margin-right: 20px;
  }
  .nav-list a {
    padding: 10px 50px;
  }
  #welcome img {
    height: 300px;
  }
  #about img {
    height: 300px;
  }
  #project div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  #project div .code {
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
  #project div a:hover .code {
    color: #ff7f50;
  }
  #offers .offers div {
    width: 370px;
    height: 300px;
  }
  #tools .tools div {
    width: 130px;
  }
  #tools .tools div img {
    width: 130px;
  }
  .contact img {
    height: 300px;
  }
  .link svg {
    margin-right: 20px;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  .link svg:hover {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
/*# sourceMappingURL=style.css.map */