:root {
  --main-white: #fff;
  --main-gray: #444;
  --main-black: #333;
  --main-blue: #2f9bd0;
  --main-yellow: #ffe000;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  line-height: 2em;
}

@mixin flexCenter($flow, $justify) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: center;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: var(--main-white);
}

h1,
h2 {
  font-weight: 500;
}

nav {
  @include flexCenter(column, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-black);
}

.nav-list {
  @include flexCenter(row, space-around);
  margin: 0 1px;
  a {
    color: var(--main-white);
    display: block;
    padding: 5px 15px;
    svg {
      height: 20px;
      width: 20px;
    }
    &:hover {
      color: var(--main-yellow);
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

#welcome {
  @include flexCenter(column, center);
  margin-top: 40px;
  background: var(--main-gray);
  h1 {
    color: var(--main-yellow);
  }
  h1,
  p {
    padding: 5px 5px;
  }
  a {
    background: var(--main-white);
    color: var(--main-blue);
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 5px;
    &:hover {
      background: var(--main-blue);
      color: var(--main-white);
    }
  }
}

#about {
  background: var(--main-black);
  img {
    width: 200px;
    height: 150px;
    margin: auto;
    border-radius: 100%;
    padding: 15px 0;
  }
  h3 {
    color: var(--main-yellow);
  }
  p {
    padding: 5px 5px;
  }
}

#project {
  background: var(--main-gray);
  p {
    margin: 10px 0;
  }
  div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    width: 90%;
    max-width: 1280px;
    margin: auto;
    padding-bottom: 20px;
    a {
      background: var(--main-black);
      box-shadow: 1px 1px 2px rgb(248, 236, 62);
      border-radius: 5px;
      width: 280px;
      height: 230px;
      margin: auto;
      padding: 10px 5px;
      img {
        width: 150px;
        margin: auto;
      }
    }
  }
}

#offers {
  background: var(--main-black);
  p {
    padding: 0 5px;
  }
  .offers {
    @include flexCenter(wrap, space-around);
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
    div {
      width: 280px;
      height: 400px;
      padding: 10px;
      margin-top: 20px;
      box-shadow: 1px 2px 2px 2px rgb(248, 236, 62);
      border-radius: 10px;
      p {
        margin: 10px 0;
      }
      svg {
        width: 40px;
        height: 40px;
        color: var(--main-yellow);
      }
      label {
        margin: 30px 0;
      }
    }
  }
}

#tools {
  background-color: var(--main-gray);
  .tools {
    @include flexCenter(wrap, center);
    width: 90%;
    margin: auto;
    div {
      box-shadow: 1px 2px 2px rgba(220, 223, 58, 0.5);
      border-radius: 5px;
      width: 100px;
      height: 100px;
      margin: 10px;
      img {
        width: 50px;
        height: 50px;
        margin: 10px auto;
      }
      p {
        color: var(--main-yellow);
      }
    }
  }
}

#contact {
  .certificate {
    @include flexCenter(wrap, center);
    width: 90%;
    margin: auto;
    img {
      width: 280px;
      height: 150px;
    }
  }
  .quick-link {
    img {
      width: 280px;
      height: 150px;
      margin: auto;
      padding: 15px 0;
    }
    .link svg {
      height: 20px;
      width: 20px;
      margin: 10px 20px;
      background: var(--main-blue);
    }
  }
  background: var(--main-black);
  blockquote,
  cite {
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3em;
  }

  nav {
    @include flexCenter(column, flex-end);
  }

  .nav-list {
    margin-right: 20px;
    a {
      padding: 10px 50px;
    }
  }

  #about {
    .container {
      @include flexCenter(row, center);
      img {
        width: 35%;
        height: 300px;
      }
      div {
        width: 55%;
        padding: 0 10px;
      }
    }
  }

  #project {
    div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 40px;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 20px;
      .code {
        transition: color 0.5s ease-out;
      }
      a:hover .code {
        color: #ffe000;
      }
    }
  }

  #offers .offers div {
    width: 370px;
    height: 420px;
  }

  #tools .tools div {
    width: 130px;
    height: 110px;
    img {
      width: 80px;
    }
  }

  #contact .certificate img {
    height: 200px;
  }

  .link svg {
    margin-right: 20px;
    transition: transform 0.5s ease-out;
    &:hover {
      transform: translateY(8px);
    }
  }
}
