:root {
  --main-white: #f0f0f0;
  --main-black: #000;
  --main-red: #be3144;
  --main-blue: #F7EAEA;
  --main-brown: #eee;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  line-height: 1.5em;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: var(--main-black);
}

h1,
h2 {
  font-weight: 500;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1px;
}

.nav-list a {
  color: var(--main-white);
  display: block;
  padding: 5px 15px;
}

.nav-list a svg {
  height: 25px;
  width: 25px;
}

.nav-list a:hover {
  background: var(--main-blue);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-black);
}

img {
  display: block;
  width: 100%;
}

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  background: url("https://images.unsplash.com/photo-1585247226801-bc613c441316?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHdlYiUyMGRldmVsb3BtZW50fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat;
  background-size: cover;
  color: cyan;
}

#welcome .container {
  text-shadow: 5px 2px 4px #000;
}

#welcome .container h1, #welcome .container p {
  padding: 10px 0;
}

#about {
  background: var(--main-blue);
}

#about img {
  width: 200px;
  height: 150px;
  margin: auto;
  border-radius: 100%;
  padding: 15px 0;
}

#about p {
  margin-top: 10px;
}

#project {
  background: var(--main-brown);
}

#project p {
  margin: 10px 0;
}

#project div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 40px;
  width: 280px;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 20px;
}

#project div a {
  background: var(--main-blue);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#offers {
  background: var(--main-blue);
}

#offers .offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

#offers .offers div {
  width: 280px;
  height: 280px;
  padding: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 1px 2px 2px 2px rgba(15, 15, 15, 0.5);
          box-shadow: 1px 2px 2px 2px rgba(15, 15, 15, 0.5);
  border-radius: 10px;
}

#offers .offers div p {
  margin: 10px 0;
}

#offers .offers div svg {
  width: 40px;
  height: 40px;
}

#offers .offers div label {
  margin: 30px 0;
}

#tools {
  background-color: var(--main-brown);
}

#tools .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tools .tools div {
  -webkit-box-shadow: 1px 2px 2px rgba(223, 58, 58, 0.5);
          box-shadow: 1px 2px 2px rgba(223, 58, 58, 0.5);
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
}

#tools .tools div img {
  width: 50px;
  height: 50px;
  margin: 10px auto;
}

#contact {
  background: #999;
}

#contact .contact {
  background: url("https://media.istockphoto.com/photos/look-at-ads-below-portrait-of-handsome-happy-man-in-stylish-denim-picture-id1270762037?b=1&k=6&m=1270762037&s=170667a&w=0&h=_5dyGL6CBsyBv9z4U97piLsBz2rqpQXrnIPpwAQ0ff4=") no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--main-black);
  padding-bottom: 10px;
  padding-bottom: 15px;
}

#contact .contact p {
  padding: 10px 0;
}

#contact .contact a {
  background: green;
  color: var(--main-white);
  border-radius: 5px;
  padding: 10px 80px;
}

#contact .contact a:hover {
  background: var(--main-white);
  color: green;
}

#contact .quick-link img {
  width: 280px;
  height: 150px;
  margin: auto;
  padding: 15px 0;
}

#contact .quick-link .link svg {
  height: 25px;
  width: 25px;
  margin: 10px 20px;
}

#contact blockquote, #contact cite {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3em;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list {
    margin-right: 20px;
  }
  .nav-list a {
    padding: 10px 50px;
  }
  #about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .container img {
    width: 35%;
    height: 300px;
  }
  #about .container div {
    width: 55%;
    padding: 0 10px;
  }
  #project div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  #project div .code {
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
  #project div a:hover .code {
    color: #ff7f50;
  }
  #offers .offers div {
    width: 370px;
    height: 300px;
  }
  #tools .tools div {
    width: 130px;
  }
  #tools .tools div img {
    width: 80px;
  }
  .link svg {
    margin-right: 20px;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  .link svg:hover {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
/*# sourceMappingURL=style.css.map */