@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  transition: 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-right {
  grid-column: 3/4;
  transform: translateX(50%);
  transition: transform 400ms ease-in;
}

.from-right.appear {
  transform: translateX(0);
}

@layer base {
  h2 {
    @apply text-yellow-400 text-2xl font-bold;
  }

  h4 {
    @apply text-lg text-justify md:text-center;
  }

  p {
    @apply text-lg text-justify;
  }
}

@layer components {
  .preloader {
    @apply bg-center bg-cover bg-no-repeat w-screen h-screen bg-white z-30 top-0 left-0 fixed flex justify-center items-center transition-transform ease-in-out;
  }

  .menuLink {
    @apply text-lg hover:text-yellow-400 duration-500;
  }

  .btn {
    @apply bg-gradient-to-r from-yellow-700 to-yellow-400 hover:bg-gradient-to-bl hover:from-yellow-700 hover:to-yellow-400 rounded-full text-2xl text-slate-200 py-2 px-4 mt-10;
  }

  .card {
    @apply hover:box-border hover:shadow-xl hover:shadow-yellow-400 rounded-lg;
  }
}
