<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404: Not Found</title>
    <style>
        *, ::before, ::after {
            margin: 0;
            padding: 0;
            border: none;
            box-sizing: content-box;
            scroll-behavior: smooth;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
        }

        main {
            padding: 40px 20px;
        }

        h1 {
            font-size: 38px;
            font-weight: 700;
        }

        h2 {
            font-size: 34px;
            font-weight: 500;
        }

        header {
            text-align: center;
            padding: 20px;
        }

        a {
            text-decoration: none;
            font-size: 18px;
        }

        .error {
            text-align: center;
            margin-top: 40px;
        }

        footer {
            padding: 20px;
            text-align: center;
        }

        @media (min-width: 768px) {
            header {
                padding: 20px 80px;
            }

            main {
                padding: 0 80px;
            }

            footer {
                padding: 20px 80px;
            }
        }
    </style>
</head>
<body>
    <header>
        <h1>Route Not Found</h1>
    </header>

    <main>
        <h2>404</h2>

        <p>It seems you are lost, <a href="/">go home!</a></p>
    </main>

    <footer>
        <p>Copyright &copy;  <%= year %> Philip Oyelegbin</p>
    </footer>
</body>
</html>