<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio API</title>
    <style>
        *, ::before, ::after {
            margin: 0;
            padding: 0;
            border: none;
            box-sizing: content-box;
            scroll-behavior: smooth;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
        }

        main {
            padding: 40px 20px;
        }

        h1 {
            font-size: 38px;
            font-weight: 700;
        }

        h2 {
            font-size: 34px;
            font-weight: 500;
        }

        h3 {
            font-size: 30px;
            font-weight: 300px;
        }

        header {
            text-align: center;
            padding: 20px;
        }

        ul li {
            list-style: inside;
        }

        a {
            text-decoration: none;
            font-size: 18px;
        }

        footer {
            padding: 20px;
            text-align: center;
        }

        @media (min-width: 768px) {
            header {
                padding: 20px 80px;
            }

            main {
                padding: 0 80px;
            }

            footer {
                padding: 20px 80px;
            }
        }
    </style>
</head>
<body>
    <header>
        <h1>My Portfolio API</h1>
    </header>

    <main>
        <h2>My Portfolio API built using express.</h2>

        <h3>List of the API routes:</h3>
        <ul>
            <li><a href="/projects">/projects</a></li>
            <li><a href="/feedbacks">/feedbacks</a></li>
        </ul>
    </main>

    <footer>
        <p>Copyright &copy; <%= year %> Philip Oyelegbin</p>
    </footer>
</body>
</html>