@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {margin: 0 10px;}

.slick-list {margin: 0 -10px;}

@layer base {
  *, ::before, ::after {
    @apply m-0 p-0 scroll-smooth box-border leading-6;
  }

  header {
    @apply shadow-lg text-slate-200 bg-purple-950 px-5 flex justify-between items-center fixed top-0 w-screen z-30 py-3 lg:px-20;
  }
  nav {
    @apply fixed lg:flex lg:items-center lg:static bg-purple-950 lg:bg-transparent w-full lg:w-auto py-4 lg:py-0 top-12 md:top-14 transition-all ease-in-out duration-300;
  }

  nav > ul {@apply flex flex-col gap-5 lg:flex-row;}
  nav > ul > li {@apply flex lg:flex-col mx-5 lg:mx-0;}

  main {
    @apply text-slate-700 text-xs lg:text-sm;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  h2 {@apply text-slate-700 text-2xl lg:text-[26px] leading-8 font-bold;}

  h3 {@apply text-xl lg:text-[22px] leading-8;}

  h4 {@apply text-base lg:text-lg;}
}

@layer components {
  #root {@apply lg:relative;}

  /* .logo {font-family: 'Pacifico', cursive;} */

  .menuLink {@apply text-lg ml-2 ease-linear duration-300 hover:text-slate-400 md:ml-0;}

  .about-section {
    @apply px-5 py-10 flex flex-col-reverse lg:flex-row lg:justify-between lg:items-center gap-3 lg:px-20 pt-20 lg:h-svh;
  }

  .about-section img {
    @apply mx-auto lg:w-full lg:h-full border-[4px] border-solid border-purple-700;
    border-radius: 80% 30%/30% 80%;
  }

  .social-icon {@apply text-purple-950 w-6 h-6}

  .btn {
    @apply inline-block bg-gradient-to-r from-purple-950 to-purple-700 ease-linear duration-300 hover:bg-gradient-to-bl hover:from-purple-950 hover:to-purple-700 rounded-full text-center text-2xl text-slate-200 py-2 px-8 mt-5;
  }

  .tab-btn {@apply border border-purple-700 text-purple-700 px-3 py-2 rounded-lg cursor-pointer ease-linear duration-300}

  .skill-container {
    @apply flex flex-wrap justify-center items-center gap-5 px-5 py-5 lg:px-20 text-center;
  }
  .skill-container > div {
    @apply bg-slate-700 bg-opacity-30 rounded-xl p-5 max-w-[400px] shadow-sm shadow-slate-300 ease-in-out duration-300 hover:-translate-y-2;
  }

  .card {
    @apply w-fit h-fit ease-linear duration-300 hover:box-border hover:shadow-md outline-none hover:shadow-slate-700 overflow-hidden mt-1 rounded-2xl;
  }

  .feedback-bg {
    @apply bg-gray-700 bg-[url('../src/assets/feedback.jpg')] bg-no-repeat bg-cover bg-center md:bg-right bg-blend-overlay rounded-2xl;
  }

  .form-control {@apply flex flex-col my-3 w-full;}

  .form-control input[type="range"] {@apply p-0;}

  .form-control input, textarea {
    @apply bg-slate-300 text-black mb-2 p-2 rounded-md w-full focus:outline-none border invalid:border-red-500 valid:border-lime-500;
  }
}